.text {
  font-size: calc(2px + 1.5vmin);
}

.list-group-flush {
  /* font-size: calc(2px + 1.5vmin); */
}

.title-det {
  /* font-size: calc(1.6px + 1vmin); */
}

.title-det-lauched {
  /* font-size: calc(1.6px + 1vmin); */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 700;
}

@media only screen and (min-width: 600px) {
  .list-group-flush {
    font-size: calc(2px + 1.5vmin);
  }

  .title-det {
    font-size: calc(1.6px + 1vmin);
  }

  .title-det-lauched {
    font-size: calc(1.6px + 1.3vmin);
    font-weight: 700;
  }
}
